
.about-container{
    position: relative;
    top:100px;
    .counter {
        position: absolute;
        right: 50%;
    }

    button{
        background-color: white;
        margin: 20px;
        color: black;
        padding: 2px;
    }
}
